
	<section class="main row text-center well fill">

		<div class="center-block well">		
			<h1> 
			<span class="glyphicon glyphicon-home"></span>
			&nbsp;Project city Party
			</h1>

			<button class="btn btn-primary btn-lg" ng-click='doLogin()'> Connexion !</button>
		</div>
	</section>

	<section class="jumbotron">
		
		<h2>Here you can play with your neighbours.Right now, just sign in.</h2>
	</section>




	<section class="third">
		
	<div class="panel">
		<div class="panel-body">
					<div class="panel-heading"></div>


		</div>
	</div>

	</section>

</div>


	<footer class="footer">
	
			


		
	<div class="row">
		
	<div class="col-md-3">	
		<h5>Links</h5>
		<ul class="list list-unstyled">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>

	<div class="col-md-3">	
	<h5>Contacts</h5>
	<ul class="list list-unstyled">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	</div>

	</div>
	</footer>